$color-black: #282a2d;
$color-gray: #5F5F5F;
$color-white: #ffffff;
$color-black-overlay: rgba(0,0,0,0.78);
$color-background-gray: #e8e8e8;
$color-blue: #130377;

$color-1: $color-blue;
$color-2: $color-gray;
