.s-heroimage--desktop {
  position: absolute;
  bottom: 0;
  right: 100px;
  width: 40%;
  max-width: 500px;
  @include mq($until: desktop) {
    display:none;
  }
}

.s-heroimage--mobile {
  margin-top: $inuit-global-spacing-unit*2;
  width: 50%;
  @include mq($from: desktop) {
    display: none;
  }
}

.s-hero-background {
  background: url('/assets/img/hero-background.jpg') center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
