---
layout: default
---

<div class="s-hero-background">
  <section class="s-hero">
    <div class="s-hero__text o-spacer__bottom--large">
      <img class="o-spacer__bottom--large" style="max-width: 80px" src="{{ site.baseurl }}/assets/img/truflogo.png" alt="">
      <h1>The News App for Truthseekers</h1>
      <p>Trüf puts trust back into the hands of newsreaders by employing community fact-checking and allowing users to review the news they read.</p>
      <div class="o-layout">
        <div class="o-layout__item u-1/1 o-spacer__bottom">
          <a class="c-btn c-btn--primary c-btn--icon c-btn--icon-android o-spacer__bottom" href="#open-modal" onclick="ga('send', 'event', 'Button', 'Download', 'Android');">Download for Android</a>
        </div>
        <div class="o-layout__item u-1/1">
          <a class="c-btn c-btn--primary c-btn--icon c-btn--icon-apple" href="#open-modal" onclick="ga('send', 'event', 'Button', 'Download', 'Apple');">Download for iPhone</a>
        </div>
      </div>
    </div>
    <div class="s-hero__image">
    </div>
  </section>
</div>

<div class="o-wrapper o-spacer__top--huge o-spacer__top--huge">
  <div class="o-layout o-layout--center">
    <div style="text-align:center;" class="o-layout__item u-2/3@desktop o-spacer__top--huge o-spacer__bottom--huge">
      <img class="o-spacer__bottom" style="display:block; margin-left: auto; margin-right: auto; max-width: 480px;" src="{{ site.baseurl }}/assets/img/charts.png" alt="">
      <h3>Rate the news you read</h3>
      <p style="max-width: 500px; margin: 0 auto;">Truf’s trusted, transparent rating system encourages readers to rate the news stories they read.  </p>
    </div>
    <div style="text-align:center;" class="o-layout__item u-2/3@desktop o-spacer__bottom--huge">
      <img class="o-spacer__bottom" style=" margin-left: auto; margin-right: auto; max-width: 220px;" src="{{ site.baseurl }}/assets/img/validation.png" alt="">
      <h3>Powered by a community  of fact-checkers</h3>
      <p style="max-width: 500px; margin: 0 auto;">A fair, moderated community of users is constantly checking facts in order to ensure that readers can be certain of the level of truthfulness being communicated in any given news story. </p>
    </div>
  </div>
</div>

<div class="c-background--2">
  <div class="o-wrapper">
    <div class="o-layout o-layout--center">
      <div style="text-align:center;" class="o-layout__item u-2/3@desktop o-spacer__top--huge o-spacer__bottom">

        <h3>We could use your help</h3>
        <p style="max-width: 500px; margin: 0 auto;">It's absolutely crucial that our app is fair, unbiased, and transparent. Accomplishing this does not come easily. You can help us by completing this short survey. </p>
      </div>
      <div style="text-align:center;" class="o-layout__item u-2/3@desktop o-spacer__bottom--huge">

        <a class="c-btn c-btn--secondary o-spacer__bottom" href="#open-modal" onclick="ga('send', 'event', 'Button', 'Survey');">Take the survey</a>
      </div>
    </div>
  </div>
</div>
